/*

    *             *           ,
       ,+.    *  _,+-+._*__  / \
-------  ) -----'       `./ /   \
 -----  (   ,'    *       `/    /+
 *  * \  `+"       -------'\   / |
   -----.              ,  \ \ /  |
        /`.        ---'+`+--+Y   +
 *     ( *          ;        +   '
   -----  ,+.    ,+'         |  /
      *+  + ( ---            | /
       )  +  \  `.___________+/
       `++'   `++'

Ни одна империя не существует вечно, ни одна династия не существует непрерывно.
Когда-нибудь мы с тобой станем просто легендами.
Важно лишь то, сделали ли мы все, что могли, с данной нам жизнью.

-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

работал над этим: <@1353286888491974690>

всё минилистично, всё практично,
и лишь избранные увидят этот текст.

люблю тебя
скажи мне это обратно 

*/

html{background-color:black;
color:white;
margin: 0;
padding:0;
overflow:hidden;
user-select:none}
.random{position: relative;
width: 100%;
height: 100%;
user-select:none}
.main{padding:5px}
.underline{text-decoration:underline}
a{color:white}
*{user-select:none}